<mat-toolbar color="primary">
    <span>Dispositivos Ocupados</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="accent" (click)="updateDBN()">Descargo a Bienes Nacionales</button>
    
</mat-toolbar>
<div class="mainbody">
    <mat-form-field aria-haspopup="outline">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="ej. Laptop" #input>
    </mat-form-field>

    <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="Check">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Seleccionar</th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox class="checkbox"  value="{{row.Serial}}" (change)="selectedDis(row.Serial, $event)"></mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="Dispositivo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Dispositivo</th>
                <td mat-cell *matCellDef="let row">{{row.Dispositivo}}</td>
            </ng-container>
            <ng-container matColumnDef="Modelo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Modelo</th>
                <td mat-cell *matCellDef="let row">{{row.Modelo}}</td>
            </ng-container>
            <ng-container matColumnDef="Serial">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Serial</th>
                <td mat-cell *matCellDef="let row">{{row.Serial}}</td>
            </ng-container>
            <ng-container matColumnDef="Placa">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Placa</th>
                <td mat-cell *matCellDef="let row">{{row.Placa}}</td>
            </ng-container>
            <ng-container matColumnDef="BN">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Bienes Nacionales</th>
                <td mat-cell *matCellDef="let row">{{row.BN}}</td>
            </ng-container>
            <ng-container matColumnDef="Usuario">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
                <td mat-cell *matCellDef="let row">{{row.Usuario}}</td>
            </ng-container>
            <ng-container matColumnDef="Departamento">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Departamento</th>
                <td mat-cell *matCellDef="let row">{{row.Departamento}}</td>
            </ng-container>
            <ng-container matColumnDef="Mantenimiento">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Mantenimiento</th>
                <td mat-cell *matCellDef="let row">{{row.Mantenimiento}}</td>
                
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No se encontraron dispositivos con el filtro "{{input.value}}"</td>
            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[ 5, 10, 25, 100]"
            aria-label="Seleccione el numero de registros"></mat-paginator>
    </div>
</div>